<h1>Add a New Team</h1>

<%= form_for @team do |f| %>

  <div class="team-details">
    <%= f.label :name, "Team Name:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :coaches, "Coached By:" %>
    <%= f.text_field :coaches %>
  </div>

  <br><br>

  <div class="players">
    <% 2.times do %>
      <%= render partial: "players/new_player_input", locals: {f: f} %>
    <% end %>
  </div>

  <!-- TODO This does NOT pass all inputs to controller. Only the last ones. -->
  <button class="add-player-input">More Players</button>

  <br><br>

  <%= f.submit %>

<% end %>
